---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";

import SEO from "../components/SEO.astro";
import Navigation from "@/components/Navigation.astro";

const {
    class: className,
    title,
    description,
    keywords,
    url,
    // twitterhandle,
    image
} = Astro.props;
---

<html lang="en">
    <head class="">
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image="/favicon.svg"
        />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    </head>
    <Navigation />
    <body class="bg-neutral-50">
        <main class={className}>
            <slot />
        </main>
    </body>
</html>
